<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steno - Stories</title>
    <link rel="stylesheet" href="../3rd-party/bootstrap/5.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../3rd-party/fontawesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../3rd-party/highlight/styles/github.min.css">
    <style >
        .highlight {
            background-color: #fff5ad;
        }
    </style>
    <script type="text/javascript" src="../3rd-party/bootstrap/5.1.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../3rd-party/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../3rd-party/vue-js/2.6.12/vue.js"></script>
    <script type="text/javascript" src="../3rd-party/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="../js/global.js"></script>
    <script type="text/javascript" src="../js/steno.js"></script>
    <script type="text/javascript" src="../3rd-party/mermaid/mermaid.min.js"></script>
    <script type="text/javascript" src="../3rd-party/highlight/highlight.js"></script>
    <script type="text/javascript" src="../3rd-party/highlight/languages/sql.min.js"></script>
    <script type="text/javascript" src="../3rd-party/highlight/languages/javascript.min.js"></script>
    <script type="text/javascript" src="../3rd-party/sql-formatter/3.1.0/sql-formatter.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 justify-content-between">
    <div class="navbar-brand p-2">
        <a class="navbar-brand" href="invocations.html"><span class="h3">Steno</span></a>
    </div>
    <div class="navbar-brand p-2">
        <a class="navbar-brand" href="config.html"><i class="fa fa-cog"></i></a>
    </div>
</nav>
<body>

<div id="app" class="container">

    <div class="row">
        <div class="mermaid">{{ mermaidSequence }}</div>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th colspan="2">Invocation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="thead-light col-3">Id</th>
                <td class="col-9"><a v-bind:href="'/adonis-track/invocations/' + id" target="_blank">{{ id }}</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active" id="web-tab"          data-bs-toggle="tab" data-bs-target="#web-info"          type="button" role="tab" aria-controls="web"         >Request / Response</button>
        </li>
        <li class="nav-item">
            <button class="nav-link"        id="sequence-tab"     data-bs-toggle="tab" data-bs-target="#sequence-info"     type="button" role="tab" aria-controls="sequence"    >Sequence</button>
        </li>
        <li class="nav-item">
            <button class="nav-link"        id="event-tab"        data-bs-toggle="tab" data-bs-target="#event-info"        type="button" role="tab" aria-controls="event"       >Event</button>
        </li>
        <li class="nav-item">
            <button class="nav-link"        id="json-tab"         data-bs-toggle="tab" data-bs-target="#json-info"         type="button" role="tab" aria-controls="invocation"  >Story(JSON)</button>
        </li>
        <li class="nav-item">
            <button class="nav-link"        id="page-tab"         data-bs-toggle="tab" data-bs-target="#pages-info"        type="button" role="tab" aria-controls="mermaid"     >Page</button>
        </li>
        <li class="nav-item">
            <button class="nav-link"        id="scene-tab"        data-bs-toggle="tab" data-bs-target="#scenes-info"       type="button" role="tab" aria-controls="mermaid"     >Scene</button>
        </li>
    </ul>

    <div class="tab-content mt-2">

        <div class="tab-pane fade show active" id="web-info">
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th colspan="2">Request</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="thead-light col-3">Method</th>
                        <td class="col-9">{{ request.method }}</td>
                    </tr>
                    <tr>
                        <th class="thead-light col-3">URI</th>
                        <td class="col-9">{{ request.requestURI }}</td>
                    </tr>
                    <tr>
                        <th class="thead-light col-3">Query string</th>
                        <td class="col-9">{{ request.queryString }}</td>
                    </tr>
                    <tr v-if="request.headers">
                        <th class="thead-light col-3" v-bind:rowspan="request.headers.length + 1">Headers</th>
                        <tr v-for="(header, index) in request.headers">
                            <td>{{ header.name }}: {{ header.value }}</td>
                        </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th colspan="2">Response</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="thead-light col-3">Status</th>
                        <td class="col-9">{{ response.status }} {{ response.reasonPhrase }}</td>
                    </tr>
                    <tr v-if="response.headers">
                        <th class="thead-light col-3" v-bind:rowspan="response.headers.length + 1">Headers</th>
                        <tr v-for="(header, index) in response.headers">
                            <td>{{ header.name }}: {{ header.value }}</td>
                        </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="sequence-info">
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Type</th>

                        <th>From</th>
                        <th>To</th>

                        <th>Method</th>
                        <th>Value type</th>
                        <th>Value(toString)</th>

                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(invocation, index) in sequences" v-bind:id="'invocation-' + (index + 1)" class="invocation-row">
                        <td>{{ index + 1 }}</td>
                        <td>{{ invocation.type }}</td>

                        <td>{{ invocation.from }}</td>
                        <td>{{ invocation.to }}</td>

                        <td>{{ invocation.method }}</td>
                        <td>{{ invocation.valueType }}</td>
                        <td>{{ invocation.value }}</td>

                        <td>{{ invocation.duration }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="event-info">
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Detail #1</th>
                        <th>Detail #2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(event, index) in events" v-bind:id="'event-' + (index + 1)" class="event-row">
                        <td>{{ index + 1 }}</td>
                        <td>{{ event.valueType }}</td>
                        <td>{{ event.message }}</td>
                        <td v-if="event.valueType == 'SQL'">
                            <pre>{{ event.eventValue.sql }}</pre>
                        </td>
                        <td v-else></td>
                        <td v-if="event.valueType == 'SQL'">
                            {{ event.eventValue.parameterMap }}
                        </td>
                        <td v-else></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="participants-info">
            <div class="row">
                <table class="table">
                    <tbody>
                    <tr v-for="(participant, index) in participants">
                        <td>{{ participant }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="invocation-info">
            <div class="row">
                <pre>{{ json }}</pre>
            </div>
        </div>

        <div class="tab-pane fade" id="mermaid-info">
            <div class="row">
                <pre>{{ mermaidSequence }}</pre>
            </div>
        </div>

    </div>
</div>
<script src="../js/story.js"></script>
</body>
</html>
